::selection {
  color: #fff;
  background-color: #5454f8;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #212529;
  font-size: 18px;
  font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  cursor: default;
}
ul.nav,
ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul {
  margin: 1rem 0;
}
a {
  color: #202f76;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
}
a:active {
  color: #3147b3;
  border-width: 1px;
  border-color: #202f76;
  border-style: dotted;
  padding-left: 3px;
  padding-right: 3px;
}
hr {
  border: 0;
}
code,
figure.highlight {
  margin: 0 2px;
  padding: 3px 5px;
  color: #e96900;
  border-radius: 2px;
  white-space: inherit;
}
iframe,
video {
  max-width: 100%;
  margin: 1rem auto;
  display: block;
}
table {
  width: 100%;
  margin: 1em auto;
}
table thead {
  background-color: #ddd;
}
table thead th {
  padding: 5px;
  min-width: 20px;
}
table tbody tr:nth-child(2n) {
  background-color: #eee;
}
table tbody td {
  padding: 5px;
  vertical-align: text-top;
}
blockquote {
  background-color: #63e6be;
  padding-top: 0.1cm;
  padding-bottom: 0.1cm;
  box-shadow: 0px 0px 5px 0px #343a40;
  padding-left: 15px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #0ca678;
  border-radius: 4px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.page_header {
  min-height: 80px;
  box-shadow: 0 0 6px 1px #343a40;
  background-color: #fdfdfd;
}
.page_header .left {
  float: left;
  display: table;
  margin-left: 2cm;
}
.page_header .left .site_icon_link .site_icon {
  padding: 10px;
  height: 60px;
  vertical-align: middle;
}
.page_header .left .site_name {
  vertical-align: middle;
  display: inline-block;
  padding-left: 10px;
}
.page_header .left .site_name .title {
  font-size: 25px;
}
.page_header .left .site_name .subtitle .text {
  color: #adb5bd;
}
.page_header .right {
  float: right;
  min-height: 80px;
  display: inline-flex;
}
.page_header .right .links {
  display: inline-flex;
}
.page_header .right .links .item {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  margin-left: 20px;
}
.page_footer {
  text-align: center;
  padding-top: 1cm;
  padding-bottom: 1cm;
  padding-left: 0.5cm;
  padding-right: 0.5cm;
  color: #adb5bd;
}
.pager {
  width: 50%;
  margin: auto;
}
.pager .prev {
  float: left;
}
.pager .next {
  float: right;
}
.post_info {
  color: #868e96;
}
.post_list {
  width: 50%;
  margin: auto;
  padding-top: 3%;
}
.post_content_container {
  padding-left: 10%;
  padding-right: 10%;
}
.post_list_archive .post_item .post_info {
  padding-right: 0.5cm;
}
.admonition {
  margin: 1.5625em 0;
  padding: 0.6rem;
  overflow: hidden;
  page-break-inside: avoid;
  border-left: 0.3rem solid #42b983;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.05), 0 0 0.05rem rgba(0,0,0,0.1);
  background-color: #fafafa;
}
p.admonition-title {
  position: relative;
  margin: -0.6rem -0.6rem 0.8em -0.6rem !important;
  padding: 0.4rem 0.6rem 0.4rem 2.5rem;
  font-weight: 700;
  background-color: rgba(66,185,131,0.1);
}
.admonition-title::before {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  width: 12px;
  height: 12px;
  background-color: #42b983;
  border-radius: 50%;
  content: ' ';
}
.info>.admonition-title,
.todo>.admonition-title {
  background-color: rgba(0,184,212,0.1);
}
.warning>.admonition-title,
.attention>.admonition-title,
.caution>.admonition-title {
  background-color: rgba(255,145,0,0.1);
}
.failure>.admonition-title,
.missing>.admonition-title,
.fail>.admonition-title,
.error>.admonition-title {
  background-color: rgba(255,82,82,0.1);
}
.admonition.info,
.admonition.todo {
  border-color: #00b8d4;
}
.admonition.warning,
.admonition.attention,
.admonition.caution {
  border-color: #ff9100;
}
.admonition.failure,
.admonition.missing,
.admonition.fail,
.admonition.error {
  border-color: #ff5252;
}
.info>.admonition-title::before,
.todo>.admonition-title::before {
  background-color: #00b8d4;
  border-radius: 50%;
}
.warning>.admonition-title::before,
.attention>.admonition-title::before,
.caution>.admonition-title::before {
  background-color: #ff9100;
  border-radius: 50%;
}
.failure>.admonition-title::before,
.missing>.admonition-title::before,
.fail>.admonition-title::before,
.error>.admonition-title::before {
  background-color: #ff5252;
  border-radius: 50%;
}
.admonition>:last-child {
  margin-bottom: 0 !important;
}
