.page_header {
  min-height: 80px;
  box-shadow: 0 0 6px 1px #343a40;
  background-color: color_white_light;
}
.page_header .left {
  float: left;
  display: table;
  margin-left: 2cm;
}
.page_header .left .site_icon_link .site_icon {
  padding: 10px;
  height: 60px;
  vertical-align: middle;
}
.page_header .left .site_name {
  vertical-align: middle;
  display: inline-block;
  padding-left: 10px;
}
.page_header .left .site_name .title {
  font-size: 25px;
}
.page_header .left .site_name .subtitle .text {
  color: color_gray_light;
}
.page_header .right {
  float: right;
  min-height: 80px;
  display: inline-flex;
}
.page_header .right .links {
  display: inline-flex;
}
.page_header .right .links .item {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  margin-left: 20px;
}
